{{ if .Site.Data.homepage.pricing.enable }}
{{ with .Site.Data.homepage.pricing }}
<section id="price">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
						{{ .title | markdownify | emojify }}</h1>
					<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
						{{ .description | markdownify | emojify }}</p>
					<div class="pricing-list">
						<div class="title">
							<h3>{{ .subtitle | markdownify | emojify }}</h3>
						</div>
						<ul>
							{{ range .pricing_item }}
							<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
								<img src="{{.image | relURL }}" alt="icon">
								<div class="item">
									<!-- <img src="{{.image | relURL }}" alt="icon"> -->
									<div class="item-title">
										<h2>{{.title | markdownify | emojify }}</h2>
										<div class="border-bottom"></div>
										<span>{{.price}}</span>
									</div>
									<p style="font-size: 16px;">{{.description | markdownify | emojify }}</p>
								</div>
							</li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div><!-- .col-md-12 close -->
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- #price close -->
{{end}}
{{end}}